<div id="comments-modal" class="debate-modal-overlay">
            <div class="debate-modal-container">
                <div class="debate-modal-header">
                    <h4>Comentarios</h4>
                    <button class="btn-close-modal" aria-label="Cerrar ventana">&times;</button>
                </div>
                
                <div class="debate-modal-post-preview"></div>
                
                <div class="modal-divider-container">
                    <span class="divider-line"></span>
                    <span class="divider-dot">•</span>
                    <span class="divider-line"></span>
                </div>
                
                <div class="debate-modal-comments-list"></div>
                
                <div class="debate-modal-footer">
                    <input type="text" placeholder="Escribe un comentario..." class="modal-comment-input" />
                    <button class="btn-modal-comment-submit">Enviar</button>
                </div>
            </div>
        </div>